@charset "UTF-8";

/*Обнуление*/

* {
  padding: 0;
  margin: 0;
  border: 0;
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus,
:active {
  outline: none;
}

a:focus,
a:active {
  outline: none;
}

nav,
footer,
header,
aside {
  display: block;
}

html,
body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input,
button,
textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: inherit;
}

/*--------------------*/

@font-face {
  font-family: "FS-Medium";
  font-style: normal;
  font-weight: 500;
  /* Браузер сначала попробует найти шрифт локально */
  src: local("FoundrySterlingOT3-Medium"), url("../fonts/Medium/FS-Medium.woff2") format("woff2"), url("../fonts/Medium/FS-Medium.woff") format("woff"), url("../fonts/Medium/FS-Medium.svg") format("svg"), url("../fonts/Medium/FS-Medium.otf") format("otf"), url("../fonts/Medium/FS-Medium.eot") format("eot");
}

@font-face {
  font-family: "FS-Light";
  font-style: normal;
  font-weight: 300;
  /* Браузер сначала попробует найти шрифт локально */
  src: local("FoundrySterlingOT3-Light"), url("../fonts/Light/FS-Light.woff2") format("woff2"), url("../fonts/Light/FS-Light.woff") format("woff"), url("../fonts/Light/FS-Light.svg") format("svg"), url("../fonts/Light/FS-Light.otf") format("otf"), url("../fonts/Light/FS-Light.eot") format("eot");
}

@font-face {
  font-family: "FS-ExtraBold";
  font-style: normal;
  font-weight: 800;
  /* Браузер сначала попробует найти шрифт локально */
  src: local("FoundrySterlingOT3-ExtraBold"), url("../fonts/ExtraBold/FS-ExtraBold.woff2") format("woff2"), url("../fonts/ExtraBold/FS-ExtraBold.woff") format("woff"), url("../fonts/ExtraBold/FS-ExtraBold.svg") format("svg"), url("../fonts/ExtraBold/FS-ExtraBold.otf") format("otf"), url("../fonts/ExtraBold/FS-ExtraBold.eot") format("eot");
}

@font-face {
  font-family: "FS-Demi";
  font-style: normal;
  font-weight: 600;
  /* Браузер сначала попробует найти шрифт локально */
  src: local("FoundrySterlingOT3-Demi"), url("../fonts/Demi/FS-Demi.woff2") format("woff2"), url("../fonts/Demi/FS-Demi.woff") format("woff"), url("../fonts/Demi/FS-Demi.svg") format("svg"), url("../fonts/Demi/FS-Demi.otf") format("otf"), url("../fonts/Demi/FS-Demi.eot") format("eot");
}

@font-face {
  font-family: "FS-Book";
  font-style: normal;
  font-weight: 300;
  /* Браузер сначала попробует найти шрифт локально */
  src: local("FoundrySterlingOT3-Book"), url("../fonts/Book/FS-Book.woff2") format("woff2"), url("../fonts/Book/FS-Book.woff") format("woff"), url("../fonts/Book/FS-Book.svg") format("svg"), url("../fonts/Book/FS-Book.otf") format("otf"), url("../fonts/Book/FS-Book.eot") format("eot");
}

@font-face {
  font-family: "FS-Bold";
  font-style: normal;
  font-weight: 700;
  /* Браузер сначала попробует найти шрифт локально */
  src: local("FoundrySterlingOT3-Bold"), url("../fonts/Bold/FS-Bold.woff2") format("woff2"), url("../fonts/Bold/FS-Bold.woff") format("woff"), url("../fonts/Bold/FS-Bold.svg") format("svg"), url("../fonts/Bold/FS-Bold.otf") format("otf"), url("../fonts/Bold/FS-Bold.eot") format("eot");
}

@font-face {
  font-family: "FS-BkItalic";
  font-style: italic;
  font-weight: 300;
  /* Браузер сначала попробует найти шрифт локально */
  src: local("FoundrySterlingOT3-BkItalic"), url("../fonts/BlackItalic/FS-BkItalic.woff2") format("woff2"), url("../fonts/BlackItalic/FS-BkItalic.woff") format("woff"), url("../fonts/BlackItalic/FS-BkItalic.svg") format("svg"), url("../fonts/BlackItalic/FS-BkItalic.otf") format("otf"), url("../fonts/BlackItalic/FS-BkItalic.eot") format("eot");
}

.logo-main {
  width: 332px;
  height: 64px;
  background: url("../img/logo_dark.svg") 0 0/cover no-repeat;
  cursor: pointer;
}

.callback {
  font-family: FS-Medium;
}

.callback__text {
  color: #2c6b97;
  font-size: 20px;
  cursor: pointer;
  position: relative;
  padding-bottom: 9px;
}

.callback__text::after {
  position: absolute;
  content: "";
  width: 226px;
  border-bottom: 1px dashed #2c6b97;
  left: 0;
  top: 28px;
}

.callback__number {
  color: #244959;
  font-size: 28px;
  cursor: pointer;
}

.language {
  font-family: FS-Medium;
  font-size: 20px;
  color: #2c6b97;
  cursor: pointer;
}

.header {
  padding-top: 43px;
  min-width: 100%;
}

.header__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: end;
  -ms-flex-align: end;
  align-items: flex-end;
}

.header__group {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: end;
  -ms-flex-align: end;
  align-items: flex-end;
  width: 385px;
  height: 65px;
}

.header__callback {
  padding-bottom: 12px;
}

.header__language {
  padding-bottom: 18px;
}

.menu {
  font-family: FS-Medium;
}

.menu__top li {
  padding-bottom: 20px;
}

.menu__top li a {
  color: #244959;
  font-size: 28px;
}

.menu__bottom {
  padding-top: 17px;
}

.menu__bottom li {
  padding-bottom: 28px;
}

.menu__bottom li a {
  color: #2c6b97;
  font-size: 20px;
}

body {
  font-family: FS-Medium;
}

.container {
  max-width: calc(1746px + 40px);
  width: 100vw;
  padding: 0 20px;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.main {
  width: 100vw;
  height: 1080px;
  background: url("../img/main-background.jpg") 0 0/contain no-repeat;
}

.main__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  position: relative;
}

.main__topic {
  text-align: center;
  font-family: FS-Demi;
  padding-top: 71px;
}

.main__topic-title {
  font-size: 100px;
  color: #244959;
}

.main__topic-text {
  color: #447185;
  font-size: 40px;
}

.main__topic-button {
  font-size: 20px;
  color: #fff;
  width: 279px;
  height: 48px;
  background-color: #69bbf3;
  margin-top: 63px;
}

.main__menu {
  position: relative;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: start;
  left: 2px;
  top: -186px;
}

.webp .main{ background: url(../img/main-background.webp) 0 0/contain no-repeat; }